SetEnv GHOST_NODE_VERSION_CHECK false
SetEnv NODE_ENV production

PassengerStartupFile app.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
# Укажите полный путь к папке с проектом (замените на свой):
PassengerAppRoot /home/a1024444/domains/ssir-team.ru/public_html/neurocoffee
Options -MultiViews